# AWS Infrastructure Platform Configuration
AWS_REGION=ap-south-1
AWS_PROFILE=default
PROJECT_NAME=ansible-terraform-infra
ENVIRONMENT=dev
INSTANCE_TYPE=t3.micro
STATE_BUCKET_NAME=aws-infra-remote-tfstate-bucket-unique
